:root {
    --c1: #228bcc;
    --c2: #1265ac;
    --c3: #2a9cd7;
    --c4: rgb(21, 35, 52);
    --c5: rgb(24, 30, 69);
    --c6: rgb(3, 89, 253);
    --c7: rgb(182, 188, 224);
    --c8: rgb(153, 150, 167);
    --c9: rgb(197, 197, 197);
    --ca1: rgba(0, 0, 0, .12);
    --ca2: rgba(255, 255, 255, .8);
    --cred: #dc3545;
    --cgreen: #080
}

@supports (padding:max(0px)) {
    body, header, footer {
        padding-left: min(0vmin, env(safe-area-inset-left));
        padding-right: min(0vmin, env(safe-area-inset-right))
    }
}

body {
    background-color: #fff;
    font: 400 16px / 18px Ubuntu, sans-serif;
    position: relative;
    height: 100%
}

a {
    text-decoration: none;
    color: var(--c6)
}

form {
    position: relative
}

img {
    max-width: 100%
}

svg {
    flex: 0 0 auto
}

p {
    margin: 0
}

strong {
    font-weight: 700
}

.placeholder {
    background-color: transparent;
    cursor: default;
    display: block;
    min-height: auto;
    opacity: 1;
    vertical-align: baseline
}

.overlay {
    background: rgba(255, 255, 255, .5);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100
}

.hidden {
    display: none !important
}

.longtext {
    word-break: break-all
}

.page-link {
    color: var(--c2);
    padding: 4px 8px
}

.page-item.active .page-link {
    background-color: var(--c2);
    border-color: var(--c2)
}

#root {
    display: flex;
    min-height: 100vh;
    padding: 0 10px;
    -webkit-box-pack: center;
    justify-content: center
}

#root > main {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    min-height: 100vh;
    width: 100%
}

#header {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 32px 0 50px;
    position: relative;
    z-index: 300
}

#header .menu-top-burger {
    display: none
}

#header .wrap {
    display: flex;
    align-items: flex-end
}

#header .account-link {
    display: none
}

#header .account-link svg path {
    fill: var(--c1)
}

#header .burger {
    display: block;
    width: 22px;
    height: 17px
}

#header .burger svg {
    width: 100%;
    height: 100%
}

#header .burger svg path {
    stroke: var(--c4)
}

#header .logo {
    padding: 0 24px;
    width: auto
}

#header .logo a {
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
    color: #025;
    letter-spacing: 2px;
    text-transform: uppercase
}

#header .logo img {
    margin-right: 5px
}

#header .logo div {
    display: inline-block;
    margin-left: 5px;
    line-height: 1
}

#header .logo span {
    color: #555;
    font-size: 40%;
    font-weight: 400;
    letter-spacing: .5px;
    margin-top: 2px;
    display: block;
    text-align: center
}

#header nav {
    display: flex
}

.header__nav {
    display: flex;
    align-items: center;
    -webkit-box-align: center
}

.header__nav > a, .header__nav > button {
    margin-left: 16px
}

.header__nav .loginButton {
    background-color: #fff;
    box-shadow: var(--c1) 0 0 0 1px inset;
    flex-shrink: 0;
    padding-left: 18px;
    padding-right: 18px
}

.header__nav .loginButton span {
    color: var(--c4)
}

.header__nav .loginButton:hover {
    background-color: #fff;
    box-shadow: var(--c3) 0 0 0 1px inset;
    color: var(--c5)
}

.header__nav .loginButton:active {
    box-shadow: var(--c2) 0 0 0 1px inset;
    color: var(--c4)
}

.header__nav .loginButton svg path {
    fill: var(--c4)
}

.header__nav .profileButton {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.header__nav svg {
    margin-right: 9px
}

.header__nav_top {
    display: flex
}

.menu-top {
    background: var(--c5);
    display: none;
    z-index: 100;
    overflow: auto;
    padding: 20px 36px 36px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    inset: 0
}

.menu-top .close {
    width: 20px;
    height: 20px;
    position: relative;
    left: -20px
}

.menu-top .close path {
    fill: var(--c7)
}

.menu-top .menu {
    margin: 15px 0 20px;
    padding: 0
}

.menu-top .menu > li {
    list-style: none
}

.menu-top .menu > li a {
    padding: 20px 0
}

.menu-top .menu > li span {
    color: var(--c7);
    font-size: 20px;
    font-weight: 500
}

.menu-top .menu > li a.active svg, .menu-top .menu > li a.active path {
    fill: #fff
}

.menu-top .menu > li a.active span {
    color: #fff
}

.menu-top .menu > li svg {
    margin-right: 26px;
    vertical-align: baseline
}

.menu-top .menu > li svg, .menu-top .menu > li path {
    fill: var(--c7)
}

.menu-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative
}

.menu-item svg {
    width: 24px;
    margin-right: 12px;
    box-sizing: content-box;
    border-radius: 50%
}

.menu-item span {
    white-space: nowrap
}

.menu-item-new {
    position: absolute;
    top: -5px;
    left: -10px
}

.menu-item-new svg {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: transparent !important
}

.menu-item-new svg path {
    fill: var(--c1) !important
}

@media (max-width: 767px) {
    .header__nav .profileButton {
        background: var(--c1);
        max-width: 250px;
        width: 100%;
        order: 2
    }

    .header__nav .loginButton {
        box-shadow: var(--c4) 0 0 0 1px inset;
        margin-left: 0;
        order: 1
    }

    .menu-item, .menu-item path {
        fill: #fff
    }

    .menu-item-new {
        top: 16px;
        left: -7px
    }

    .btn-menu-top {
        padding: 17px 28px !important;
        font-weight: 500 !important
    }
}

@media (max-width: 390px) {
    .header__nav_top {
        flex-direction: column
    }

    .header__nav_top .profileButton, .header__nav_top .loginButton {
        margin-left: 0;
        margin-bottom: 15px;
        min-width: initial;
        width: 200px
    }

    .header__nav_top .loginButton {
        width: 120px
    }
}

.header__text .item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: var(--c4);
    margin: 0
}

.header__text .item > svg {
    margin-right: 12px;
    vertical-align: middle
}

.header__text .item + .item {
    margin-top: 4px
}

.header__text svg path {
    fill: var(--c1)
}

.header__text .item a {
    color: var(--c4);
    text-decoration: underline
}

.header__text .item a:hover {
    text-decoration: none
}

#header nav.user_authed {
    align-self: center
}

.auth_panel a {
    color: #000;
    text-decoration: underline
}

.account-menu {
    position: relative
}

.account-menu-list {
    display: none;
    background: #fff;
    border-radius: 6px;
    padding: 12px 10px;
    position: absolute;
    right: 22px;
    top: 55px
}

.account-menu-list a {
    color: #212121
}

#main {
    display: flex;
    flex: 1 1 0%;
    z-index: 200;
    width: 100%
}

.sidebar {
    /*height: 566px;*/
    max-width: 186px;
    min-width: 167px;
    margin-right: 28px;
    border-radius: 0 0 10px 10px
}

.sidebar ul {
    list-style: none;
    margin: -20px 0 0;
    padding: 0;
    position: relative
}

.sidebar ul li {
    align-items: center;
    -webkit-box-align: center;
    display: flex;
    padding: 20px 5px 20px 24px;
    position: relative;
    z-index: 2
}

.sidebar ul li a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative
}

.sidebar span {
    color: var(--c4);
    font-size: 14px;
    white-space: nowrap
}

.sidebar .active span {
    color: var(--c6);
    font-weight: 500
}

.sidebar svg {
    border-radius: 50%;
    box-sizing: content-box;
    margin-right: 12px;
    width: 24px
}

.sidebar a > svg, .sidebar a > svg path {
    fill: var(--c8)
}

.sidebar a.active > svg, .sidebar a.active > svg path {
    fill: var(--c6)
}

.sidebar .new {
    position: absolute;
    top: -7px;
    left: -10px
}

.sidebar .new svg path {
    fill: var(--c1)
}

.content {
    display: flex;
    width: 100%;
    z-index: 100
}

@media (min-width: 767px) {
    .content {
        flex: 1 1 0%
    }
}

#footer {
    padding: 28px 0;
    z-index: 100
}

#footer .flex {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

#footer .copyright {
    color: var(--c4);
    font: 14px / 16px Ubuntu, sans-serif
}

.lang_select {
    position: relative;
    font-size: 14px;
    line-height: 24px;
    color: var(--c4)
}

.lang_select .header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer
}

.lang_select .header .title {
    font-weight: 500
}

.lang_select .header > svg:first-child {
    margin-right: 5px
}

.lang_select .header > svg:last-child {
    transition-duration: 0.3s
}

.lang_select .lang_list {
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--ca1) 0 4px 12px;
    display: none;
    min-width: 132px;
    margin: 0;
    padding: 4px 0;
    position: relative;
    bottom: calc(100% + 14px);
    z-index: 9999
}

.lang_select .lang_list li {
    cursor: pointer;
    list-style: none;
    padding: 6px 16px;
    transition-duration: 0.3s
}

.lang_select .lang_list li:hover {
    opacity: 1
}

.lang_select .lang_list li a {
    color: #000;
    opacity: .75
}

.lang_select .lang_list li:hover a {
    opacity: 1
}

@media (min-width: 767px) {
    .lang_select .lang_list {
        right: 0
    }
}

#footer .links {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 15px
}

#footer .links a {
    font-size: 14px;
    font-weight: 300;
    color: var(--c4)
}

#footer .links .left, #footer .links .right {
    display: flex;
    flex-wrap: wrap
}

#footer .links .left {
    -webkit-box-align: baseline;
    align-items: baseline
}

#footer .links .left a {
    text-decoration: underline
}

#footer .links .left a:hover {
    text-decoration: none
}

#footer .links .right {
    -webkit-box-align: center;
    align-items: center
}

#footer .links .left a:not(:last-child), #footer .links .right a:not(:last-child) {
    margin-right: 2em
}

@media (max-width: 767px) {
    #header {
        padding: 16px;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 47px
    }

    #header .logo {
        min-width: initial;
        padding: 0
    }

    #header .logo a {
        font-size: 22px
    }

    #header .logo img {
        width: 45px;
        height: 45px
    }

    #header .menu-top-burger, #header .account-link {
        display: block
    }

    #header .header__nav:not(.header__nav_top), #header nav {
        display: none
    }

    #header .wrap {
        margin: 0 auto
    }

    #header .account-link svg path {
        fill: var(--c4)
    }

    .header__text {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center
    }

    #main {
        max-height: 100%;
        width: 100%;
        padding: 16px 14px 0;
        margin-bottom: 52px
    }

    .sidebar {
        display: none;
        position: fixed;
        inset: 0;
        width: 100%;
        margin-right: 0
    }

    #footer {
        padding: 0 14px
    }

    #footer .flex {
        flex-direction: column-reverse;
        align-items: flex-start
    }

    #footer .lang_select {
        margin-bottom: 16px
    }

    #footer .links {
        flex-direction: column;
        -webkit-box-pack: initial;
        justify-content: initial;
        margin: 16px 0
    }

    #footer .links a {
        display: block;
        margin-bottom: 16px
    }
}

@media (max-width: 450px) {
    #header .logo a {
        font-size: 20px
    }

    #header .logo img {
        width: 32px;
        height: 32px
    }

    .header__text .item {
        font-size: 13px
    }

    .header__text .item + .item {
        margin-top: -2px
    }
}

@media (max-width: 400px) {
    #header .logo a {
        font-size: 16px
    }

    #header .logo span {
        font-size: 50%
    }

    #header .logo img {
        width: 24px;
        height: 24px;
        margin-right: 0;
        margin-top: -2px
    }
}

@media (max-width: 900px) and (min-width: 768px) {
    .header__nav {
        flex-direction: column
    }

    .header__nav .btn-1 {
        margin-left: 0;
        padding: 4px 18px;
        width: 120px
    }

    .header__nav .profileButton {
        margin-bottom: 5px
    }

    .header__nav svg {
        margin-right: 5px;
        width: 12px
    }
}

.style1 {
    color: var(--cgreen);
    font-weight: 500
}

.text-header {
    font-size: 36px;
    font-weight: 600;
    color: var(--c4);
    letter-spacing: .1px;
    margin-bottom: 36px
}

.text-header-2 {
    font-size: 18px;
    font-weight: 500;
    color: var(--c4);
    margin-bottom: 20px
}

.btn-1 {
    outline: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 14px 28px;
    box-sizing: border-box;
    max-height: 56px;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    background: var(--c1)
}

.btn-1 > span {
    display: flex;
    color: #fff;
    align-items: center;
    -webkit-box-align: center;
    justify-content: center;
    -webkit-box-pack: center
}

.btn-1:hover {
    background: var(--c3)
}

.btn-1:active {
    background: var(--c2)
}

.btn-submit {
    outline: none;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 17px 28px;
    box-sizing: border-box;
    max-height: 56px;
    border: none;
    border-radius: 8px;
    text-align: center;
    transition: all 0.3s ease 0s;
    position: relative;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: var(--c1)
}

.btn-submit button {
    margin-bottom: 24px;
    width: 100%
}

.btn-submit:hover {
    background: var(--c3)
}

.btn-submit:active {
    background: var(--c2)
}

.btn-submit > span {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff
}

.btn-submit:disabled {
    background: #bbb;
    cursor: default
}

.form-group {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between
}

.form-group > div {
    margin-top: 10px
}

.field {
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--c4);
    padding: 16px 0
}

.field input {
    background-color: inherit;
    appearance: none;
    width: 100%;
    padding-bottom: 8px;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--c4);
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(232, 232, 232)
}

.field input:focus {
    border-color: var(--c1)
}

.field input:focus ~ .placeholder, .field input.dirty ~ .placeholder, .field input:-webkit-autofill ~ .placeholder {
    font-size: 13px;
    top: 0
}

.field input.dirty:not(:focus) ~ .placeholder {
    color: var(--c8);
    font-size: 13px;
    top: 0
}

.field input:focus ~ .placeholder {
    color: var(--c1);
    font-size: 13px;
    top: 0
}

.field .placeholder {
    position: absolute;
    pointer-events: none;
    width: 100%;
    top: 20px;
    left: 0;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 400;
    color: var(--c8);
    transition: all 0.3s ease 0s
}

.field input.dirty:not(:focus) ~ .placeholder {
    color: var(--c8);
    font-size: 13px;
    top: 0
}

.input-1 {
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--c4);
    padding: 16px 0
}

.input-1 input {
    background-color: inherit;
    appearance: none;
    width: 100%;
    padding-bottom: 8px;
    outline: none;
    font-size: 17px;
    font-weight: 400;
    color: var(--c4);
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid var(--c4)
}

.input-1 input:focus {
    border-color: var(--c1)
}

.input-1 input:focus ~ .addons {
    color: var(--c1)
}

.input-1 .addons {
    background: #fff;
    color: inherit;
    position: absolute;
    top: 17px;
    right: 0;
    text-transform: uppercase;
    z-index: 1
}

.table-1 {
    display: table;
    width: 100%
}

.table-1 .thead {
    display: table-header-group;
    background: #fff;
    position: sticky;
    top: 0
}

.table-1 .tbody {
    display: table-row-group
}

.table-1 .tr {
    display: table-row
}

.table-1 .tr > div {
    display: table-cell;
    border: 1px solid #eee;
    color: var(--c8);
    font-size: 14px;
    padding: 4px 8px;
    vertical-align: middle
}

.table-1 .thead .tr > div {
    background: var(--c4);
    color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
    font-weight: 500;
    border: none
}

#history .name {
    width: 50%
}

#history .amount {
    width: 15%
}

#history .tbody .date {
    color: var(--c9)
}

#history .tbody .amount {
    color: var(--c1)
}

#history .tbody .status {
    color: var(--c4)
}

#history .date_mobile {
    font-size: 12px;
    color: var(--c9);
    display: none
}

#history .amount_mobile {
    color: var(--c1);
    display: none
}

#history .status_mobile {
    color: var(--c4);
    display: none
}

@media (max-width: 900px) {
    #history .date_mobile {
        display: block
    }

    #history .date {
        display: none
    }
}

@media (max-width: 767px) {
    .text-header {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        margin-bottom: 20px
    }

    .text-header-2 {
        font-size: 16px;
        line-height: 18px
    }

    .input-1 {
        font-size: 1em;
        font-weight: 500;
        margin-bottom: 6px
    }

    .input-1 input {
        font-size: 14px;
        font-weight: 400;
        padding-left: 0
    }

    .field {
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 6px
    }

    .field input {
        font-size: 14px;
        font-weight: 400;
        padding-left: 0
    }

    .btn-submit {
        font-weight: 500;
        padding: 17px 28px
    }
}

@media (max-width: 550px) {
    #history .amount_mobile {
        display: block
    }

    #history .amount {
        display: none
    }

    #history .status_mobile {
        display: block
    }

    #history .status {
        display: none
    }

    #history .name {
        width: 100%
    }
}

.text-page {
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 566px;*/
    margin: 0;
    min-height: 300px;
    min-width: 500px;
    padding: 36px;
    position: relative;
    box-shadow: var(--ca1) 0 4px 24px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    z-index: 100
}

.text-page::before {
    background: var(--ca2);
    border-radius: 10px;
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0
}

.text-page .info {
    overflow-y: auto
}

.text-page section {
    max-height: 430px;
    overflow-y: auto
}

.text-page h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--c4);
    margin-bottom: 12px
}

.text-page p {
    font-size: 14px;
    font-weight: 300;
    color: var(--c8);
    margin-bottom: 36px
}

.text-page section p {
    margin-bottom: 28px
}

@media (max-width: 767px) {
    .text-page {
        flex-direction: column;
        min-width: initial;
        min-height: 0;
        padding: 13px 20px 20px;
        width: 100%;
        height: initial
    }

    .text-page h3 {
        font-size: 18px;
        font-weight: 500
    }

    .text-page p {
        margin-bottom: 20px
    }

    .text-page section {
        max-height: 100%
    }
}

.reg_login-page {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 300px;
    min-width: 500px;
    position: relative;
    background: #fff;
    box-shadow: var(--ca1) 0 4px 24px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    animation: 1s ease 0s 1 normal none running anim_opacity;
    padding: 0
}

.forgot-page {
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    min-width: 500px;
    padding: 36px;
    position: relative;
    background: #fff;
    box-shadow: var(--ca1) 0 4px 24px;
    border-radius: 8px;
    transition: all 0.3s ease 0s;
    animation: 1s ease 0s 1 normal none running anim_opacity
}

.reg_login-page::before, .forgot-page::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: var(--ca2);
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s
}

.reg_login-page button {
    width: 100%;
    margin-bottom: 24px
}

.forgot-page button {
    width: 100%
}

.reg_login-page .enter-button {
    font-size: 14px;
    line-height: 16px;
    color: var(--c8);
    text-align: center
}

.reg_login-page form {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%
}

.reg_login-page a, .forgot-page a {
    text-decoration: underline
}

.reg_login-form::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: var(--ca2);
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s
}

.reg_login-form {
    padding: 41px 36px;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column
}

.reg_login-page .reg_login-desc {
    padding: 41px 36px
}

.reg_login-desc {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(212.61deg, rgb(54, 75, 99) 1.1%, var(--c4) 98.42%);
    border-radius: 0 8px 8px 0;
    color: #fff
}

.reg_login-desc::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: var(--ca2);
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s
}

.reg_login-desc img {
    margin: 0 auto 16px
}

.reg_login-desc h3 {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 16px
}

.reg_login-desc p {
    font-size: 14px;
    line-height: 18px
}

.reg_login-desc p:not(:last-child) {
    margin-bottom: 1em
}

.reg_login-page .recovery {
    margin-bottom: 40px;
    margin-top: -25px;
    text-align: right
}

.reg_login-page .recovery a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--c8)
}

.reg_login-page .field {
    margin-bottom: 20px
}

.form_terms {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 14px;
    color: var(--c8)
}

.form_terms a {
    color: var(--c8)
}

.form_terms a:first-child {
    margin-left: 12px
}

.form_terms a:not(:last-child)::after {
    content: '';
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: middle;
    background-color: var(--c8);
    margin: 0 6px
}

.forgot-page p {
    color: var(--c8);
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    line-height: 16px
}

@media (max-width: 767px) {
    .reg_login-page {
        padding: 0;
        min-width: initial;
        width: 100%;
        height: initial;
        min-height: 0;
        flex-direction: column
    }

    .forgot-page {
        padding: 13px 20px 20px;
        min-width: initial;
        width: 100%;
        height: initial;
        min-height: 0;
        flex-direction: column
    }

    .reg_login-form {
        padding: 13px 20px 20px;
        width: 100%
    }

    .reg_login-desc {
        border-radius: 0 0 8px 8px;
        width: 100%
    }

    .reg_login-desc img {
        max-width: 80%
    }

    .reg_login-page .btn-submit > span {
        font-weight: 500;
        font-size: 18px
    }

    .reg_login-page .recovery {
        margin: -4px 0 20px
    }

    .reg_login-page .btn-submit {
        margin-bottom: 20px
    }

    .register-page .text-header, .forgot-page .text-header {
        margin-bottom: 4px
    }

    .reg_login-page .field {
        margin-bottom: 4px
    }
}

.faq_list {
    box-sizing: border-box;
    padding-right: 16px
}

.faq_list b, .faq_list strong {
    color: #000
}

.faq_list .item {
    border-bottom: 1px solid rgb(210, 210, 210);
    transition: all 0.3s ease 0s
}

.faq_list .item__title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    box-sizing: border-box;
    color: var(--c4);
    transition: all 0.3s ease 0s;
    font-size: 18px;
    line-height: 21px;
    padding: 19px 0;
    user-select: none
}

.faq_list .item__title svg {
    margin-left: 7px;
    transition: all 0.3s ease 0s
}

.faq_list .item__title svg path {
    stroke: var(--c4)
}

.faq_list .item.active .item__title {
    border: 0;
    color: var(--c1)
}

.faq_list .item.active .item__title svg {
    transform: rotateZ(180deg)
}

.faq_list .item.active .item__title svg path {
    stroke: var(--c1);
    fill: var(--c1)
}

.faq_list .item__content {
    display: none;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: var(--c8);
    padding-bottom: 20px;
    animation: 1s ease 0s 1 normal none running anim_opacity_height
}

.faq_list .item.active .item__content {
    display: block
}

@media (min-width: 767px) {
    .faq_list {
        height: 430px;
        overflow-y: auto
    }
}

@media (max-width: 767px) {
    .faq .item__title {
        font-size: 14px;
        line-height: 16px
    }
}

#trade {
    display: block;
    position: relative
}

#trade .overlay {
    background: #fff;
    display: none;
    opacity: .5;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100
}

.trade_in {
    background: #fff;
    border-radius: 8px;
    box-shadow: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    min-width: 500px;
    min-height: 300px;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease 0s;
    justify-content: space-between;
    -webkit-box-pack: justify
}

.trade_in::before {
    background: var(--ca2);
    border-radius: 10px;
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9;
    transition: all 0.3s ease 0s
}

.trade_in .pm_select > .btn {
    background-color: transparent
}

.trade_in aside.vertical {
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start
}

.trade_in .amount_input {
    position: relative
}

.trade_in aside {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 76px
}

.trade_in aside p {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 400;
    color: var(--c8)
}

.trade_in .range > span {
    min-width: 22px
}

.trade-part {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 50%
}

.trade-part::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    background: var(--ca2);
    border-radius: 10px;
    top: 0;
    left: 0;
    transition: all 0.3s ease 0s
}

.pm_select {
    position: relative;
    margin-bottom: 13px;
    z-index: 2
}

.pm_select .btn {
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 13px 16px 13px 20px;
    font-size: 18px;
    font-weight: 500;
    color: var(--c4);
    border: 1px solid var(--c9);
    border-radius: 8px;
    transition: border-color 0.2s ease 0s
}

.pm_select .pm_select_img {
    margin-right: 17px
}

.pm_select .btn div {
    opacity: 1
}

.pm_select .btn > svg {
    position: absolute;
    top: 50%;
    right: 24px;
    margin-left: 7px;
    transform: translateY(-50%);
    transition: all 0.3s linear 0s
}

.pm_select .btn > svg path {
    stroke: #000
}

.pm_select_img {
    width: 28px;
    height: 28px;
    opacity: 1
}

.pm_select_img img {
    max-height: 100%
}

.pm_select.is-active .btn {
    border-radius: 8px 8px 0 0
}

.pm_select.is-active .btn svg {
    transform: translateY(-50%) rotateZ(180deg);
    transition: all 0.3s linear 0s
}

.pm_select .dropdown {
    display: none;
    overflow: hidden;
    max-height: 310px;
    z-index: 200;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #fff;
    border-width: 0 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: var(--c9);
    border-bottom-color: var(--c9);
    border-left-color: var(--c9);
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial;
    border-radius: 8px 8px;
    box-shadow: rgba(50, 50, 50, .1) 0 10px 20px;
    transition: all 0.3s linear 0s;
    animation: 0.3s ease 0s 1 normal none running anim_pm_select_dropdown
}

@keyframes anim_pm_select_dropdown {
    0% {
        transform: translateY(-55px);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}

.pm_select .dropdown_inner {
    overflow-y: auto;
    max-height: 310px
}

.pm_select .option {
    user-select: none;
    cursor: pointer;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--c4);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s linear 0s
}

.pm_select .option:hover {
    background: rgb(238, 238, 238);
    color: var(--c4)
}

.pm_select .option img {
    animation: 1s ease 0s 1 normal none running anim_opacity
}

@keyframes anim_opacity {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.pm_select .option .inactive {
    color: rgb(93, 91, 103)
}

.pm_select .option .badge_no_funds {
    position: absolute;
    right: 21px;
    color: rgb(247, 103, 63);
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    background: rgb(255, 240, 236);
    border-radius: 4px
}

.pm_select .option .badge_inactive {
    position: absolute;
    right: 21px;
    color: rgb(93, 91, 103);
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 400;
    background: rgb(224, 223, 228);
    border-radius: 4px
}

.pm_select .disabled {
    width: 28px;
    height: 28px;
    opacity: .5
}

.trade-part__separator {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    top: 0;
    width: 30px;
    z-index: 2
}

.trade-part__separator::after {
    content: '';
    position: absolute;
    background: url(../../img/d/arrows.svg) 50% center / contain no-repeat;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.trade_submit {
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-pack: end;
    justify-content: flex-end;
    display: flex;
    flex-direction: column
}

.terms {
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 400;
    color: var(--c8);
    text-align: center
}

.terms a {
    color: var(--c8);
    text-decoration: underline
}

.currency_select {
    margin: 10px 0
}

.currency_select a {
    background: #eee;
    border-radius: 4px;
    color: #000;
    display: inline-block;
    margin-right: 6px;
    padding: 6px 8px
}

.currency_select a:hover {
    background: var(--c1);
    color: #fff
}

.currency_select a.active {
    background: var(--c2);
    color: #fff
}

.pm_childs {
    display: none
}

@media (min-width: 767px) {
    .trade_in {
        background-color: transparent
    }

    .trade_in .trade-part.part-1 {
        order: 1
    }

    .trade_in .trade-part.part-2 {
        order: 3
    }

    .trade_in .trade-part.part-3 {
        order: 2
    }

    .trade_in .trade-part.part-4 {
        order: 4
    }

    .trade_in .trade-part.part-1, .trade_in .trade-part.part-3 {
        border-radius: 10px 10px 0 0;
        padding-top: 36px;
        background: #fff;
        border-top: 1px solid transparent;
        border-right: 1px solid transparent;
        border-left: 1px solid transparent;
        border-image: initial;
        border-bottom: none
    }

    .trade_in .trade-part.part-2, .trade_in .trade-part.part-4 {
        border-radius: 0 0 10px 10px;
        padding-bottom: 28px;
        position: relative
    }

    .trade_in .trade-part {
        width: calc(50% - 15px);
        background-color: #fff;
        box-shadow: rgba(88, 191, 249, .2) 0 14px 20px;
        padding-right: 36px;
        padding-left: 36px
    }

    .trade_in .trade-part .text-header-2 {
        display: none
    }

    .trade_in aside {
        margin-top: 5px
    }
}

@media (max-width: 767px) {
    .trade_in {
        min-width: initial;
        min-height: 0;
        padding: 13px 20px 20px;
        width: 100%;
        height: initial;
        flex-direction: column
    }

    .trade_in .trade-part {
        width: auto
    }

    .trade_in .trade-part.part-1, .trade_in .trade-part.part-3 {
        border-bottom: 1px solid rgb(232, 232, 232);
        margin: 0 -20px 20px;
        padding: 0 20px
    }

    .trade_in .trade-part.part-1 {
        order: 1
    }

    .trade_in .trade-part.part-2 {
        order: 3
    }

    .trade_in .trade-part.part-3 {
        order: 2
    }

    .trade_in .trade-part.part-4 {
        order: 4
    }

    .trade_in .trade-part h2 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 7px
    }

    .trade_in .trade-part .pm_select {
        margin-bottom: 0
    }

    .pm_select .btn {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 20px
    }

    .pm_select .pm_select_img {
        margin-right: 8px;
        width: 32px;
        height: 32px
    }

    .pm_select .dropdown {
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 208px;
        min-width: 200px;
        box-shadow: rgba(50, 50, 50, .1) 0 10px 20px
    }

    .pm_select .dropdown_inner {
        max-height: 208px;
        padding: 8px 0
    }

    .pm_select .disabled {
        width: 20px;
        height: 20px
    }

    .trade_in .amount_input input {
        font-size: 1em;
        font-weight: 500;
        padding-bottom: 11.8px
    }

    .trade_in aside {
        margin-bottom: 20px;
        min-height: auto;
        flex-direction: column;
        -webkit-box-pack: start;
        justify-content: flex-start
    }

    .trade_in aside .wrapper {
        margin-bottom: 14px
    }

    .trade_in .trade-part .text-header-2 {
        margin-bottom: 4px
    }

    .trade-part__separator {
        display: none
    }

    .terms {
        margin-bottom: 24px
    }
}

.reserve_tab {
    margin-bottom: 16px
}

.reserve_tab li {
    display: inline-block;
    height: 24px;
    border: 1px solid var(--c2);
    border-radius: 4px;
    margin: 0 8px 8px 0;
    padding: 5px 8px;
    font-size: 12px;
    line-height: 14px;
    color: var(--c8);
    background-color: transparent;
    position: relative;
    flex-shrink: 0;
    cursor: pointer
}

.reserve_tab li > span:first-child {
    font-weight: 700;
    margin-right: 4px
}

.reserve_tab li.active {
    background-color: var(--c1);
    color: #fff
}

.reserve_content {
    display: flex;
    flex-wrap: wrap
}

.reserve_content > div {
    display: none;
    width: 100%
}

.reserve_content > div.active {
    display: flex;
    flex-wrap: wrap
}

.reserve_content .item {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    max-width: calc(16.6667% - 12px);
    height: 132px;
    border: 1px solid #fff;
    border-radius: 8px;
    padding: 8px;
    margin: 6px
}

.reserve_content .item > div {
    text-align: center
}

.reserve_content .item .pm_select_img {
    width: 42px;
    height: 42px
}

.reserve_content .item .reserve {
    font-size: 14px;
    line-height: 16px;
    color: var(--c4);
    margin: 8px 0 0
}

.reserve_content .item .name {
    font-size: 12px;
    line-height: 14px;
    color: var(--c8);
    margin: 18px 0 0
}

@media (min-width: 767px) {
    .reserve_content .item .name {
        text-align: center
    }

    .reserve_content {
        overflow-x: auto;
        margin: -6px
    }
}

@media (max-width: 767px) {
    .reserve_tab {
        display: flex;
        overflow: auto;
        margin: 0 -20px 16px;
        padding-left: 20px
    }

    .reserve_tab::before, .reserve_tab::after {
        content: '';
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 32px;
        pointer-events: none;
        background: linear-gradient(90deg, #fff 20%, rgba(255, 255, 255, 0) 92%)
    }

    .reserve_tab::before {
        left: 0
    }

    .reserve_tab::after {
        right: 0;
        transform: rotate(-180deg)
    }

    .reserve_tab li {
        height: 32px;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 16px
    }

    .reserve_content .item {
        flex-direction: row;
        -webkit-box-pack: start;
        justify-content: flex-start;
        width: 100%;
        max-width: 100%;
        margin: 0 0 8px;
        padding: 0 16px;
        height: 60px
    }

    .reserve_content .item .pm_select_img {
        width: 36px
    }

    .reserve_content .item .reserve {
        margin: 0 0 0 10px;
        font-size: 16px;
        line-height: 18px;
        flex: 1 1 0%;
        order: 2;
        text-align: right
    }

    .reserve_content .item .name {
        font-size: 16px;
        line-height: 18px;
        margin: 0 0 0 20px;
        order: 1
    }
}

#crypto_check {
    display: flex;
    height: 100%
}

.crypto_check_left {
    width: 50%;
    max-width: 390px;
    flex-shrink: 0
}

.crypto_check_left_inner {
    height: 100%
}

.crypto_check_left_inner_2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end
}

.crypto_check_left_inner_2 .title {
    color: var(--c4);
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 24px
}

.crypto_check_left_inner_2 .button-block {
    margin-top: 41px
}

.crypto_check_footer {
    text-align: center;
    margin-top: 46px
}

.crypto_check_footer .balance {
    color: var(--c4);
    font-size: 12px;
    line-height: 1.36
}

.crypto_check_footer .balance__value {
    position: relative;
    color: var(--c4);
    font-weight: 500;
    font-size: 14px;
    margin-left: 3px
}

.crypto_check_footer .balance svg {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-top: -2px !important
}

.crypto_check_footer .balance svg.diamond-icon {
    margin-top: -4px !important
}

.crypto_check_footer .info__button {
    position: relative;
    display: inline-block;
    font-size: 12px;
    line-height: 1.16;
    background: none;
    border: none;
    color: var(--c6);
    cursor: pointer;
    outline: none
}

.crypto_check_footer .info__button svg {
    margin-right: 5px;
    vertical-align: middle;
    margin-top: -2px
}

.crypto_check_footer .info__button svg path {
    fill: var(--c6)
}

.crypto_check_footer .balance svg path {
    fill: rgb(247, 103, 63)
}

.crypto_check_left_inner_2 .button-block .checkButton {
    box-shadow: rgba(247, 103, 63, .35) 0 6px 8px 0;
    margin: 0 auto
}

.crypto_check_left_inner_2 .button-block .checkButton:disabled {
    box-shadow: rgba(153, 150, 167, .35) 0 6px 8px 0
}

.crypto_check_left_inner_2 .button-block .checkButton {
    box-shadow: rgba(247, 103, 63, .35) 0 6px 8px 0;
    margin: 0 auto
}

#crypto_check .button-block .checkButton__value {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    margin-left: 10px;
    padding-left: 10px
}

#crypto_check .button-block .checkButton__value svg {
    margin-left: 4px
}

.crypto_check_footer .powered-by {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 20px;
    color: rgb(209, 210, 218)
}

.crypto_check_footer .powered-by svg {
    vertical-align: middle;
    margin-left: 5px
}

.crypto_check_right {
    width: 50%;
    max-width: 100%;
    flex-shrink: initial
}

.crypto_check_info {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center
}

.crypto_check_info > img {
    max-width: 200px;
    margin: 0 auto;
    display: block
}

.crypto_check_info .content2 h3 {
    color: var(--c4);
    text-align: center;
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 8px
}

.crypto_check_info .content2 p {
    color: var(--c8);
    font-size: 14px;
    line-height: 1.3
}

@media (min-width: 767px) {
    .crypto_check_left:first-child {
        margin-right: 28px
    }
}

@media (max-width: 767px) {
    #crypto_check {
        flex-flow: row wrap
    }

    .crypto_check_left {
        width: 100%
    }

    .crypto_check_left_inner_2 {
        margin: 0 -20px;
        padding: 0 20px 24px;
        width: initial;
        border-bottom: 1px solid rgb(246, 246, 246)
    }

    .pm_select .btn {
        font-weight: 500;
        font-size: 16px;
        padding: 10px 20px
    }

    .crypto_check_left_inner_2 .button-block {
        margin-top: 17px
    }

    .crypto_check_footer {
        margin-top: 32px
    }

    .crypto_check_right {
        width: 100%
    }

    .crypto_check_info > img {
        margin-top: 20px;
        max-width: 242px
    }
}

@keyframes anim_opacity_height {
    0% {
        height: 0;
        opacity: 0
    }
    100% {
        height: 100%;
        opacity: 1
    }
}

#exchange_proccess form {
    display: flex;
    justify-content: center;
    margin: 30px 0
}

#exchange_proccess form .btn-1:first-child {
    margin-right: 40px
}

#exchange_proccess .sum td {
    color: var(--c2);
    font-size: 14px;
    font-weight: 500
}

#exchange_proccess .pm td {
    color: var(--c4);
    font-size: 16px;
    font-weight: 600
}

#exchange_proccess .date td:last-child {
    font-weight: 500
}

#exchange_timer {
    color: var(--cgreen)
}

#exchange_timer b {
    font-weight: 500
}

#exchange_proccess table {
    max-width: 500px;
    margin: 0 auto
}

#exchange_proccess table tr td:first-child {
    text-align: right
}

#exchange_proccess p {
    color: var(--c4);
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 0
}

@media (max-width: 550px) {
    #exchange_proccess form {
        flex-direction: column;
        align-items: center
    }

    #exchange_proccess form .btn-1 {
        width: 150px
    }

    #exchange_proccess form .btn-1:first-child {
        margin-right: 0;
        margin-bottom: 15px
    }
}

span.is-invalid {
    color: var(--cred);
    font-size: 12px;
    font-weight: 400
}

.field input.is-invalid {
    border-bottom: 1px solid var(--cred)
}

.field input.is-invalid ~ .placeholder, .field input.is-invalid.dirty ~ .placeholder {
    color: var(--cred)
}

.field input.is-valid {
    border-bottom: 1px solid var(--cgreen)
}

.field input.is-valid ~ .placeholder, .field input.is-valid.dirty ~ .placeholder {
    color: var(--cgreen)
}

::-moz-selection {
    color: #fff;
    background: var(--c5)
}

::selection {
    color: #fff;
    background: var(--c5)
}

::-moz-selection {
    color: #fff;
    background: var(--c5)
}

::-webkit-input-placeholder {
    color: #b3b3b3
}

::-moz-placeholder {
    color: #b3b3b3
}

:-ms-input-placeholder {
    color: #b3b3b3
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1)
}

::-webkit-scrollbar-thumb {
    background-color: var(--c8);
    background-image: url(../../img/d/scroll-center-icon.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 4px
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--c2)
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--c3)
}

@media (max-width: 767px) {
    ::-webkit-scrollbar {
        width: 4px;
        height: 4px
    }

    ::-webkit-scrollbar-thumb {
        background-image: none
    }
}

#last_transactions {
    z-index: 100
}

#last_transactions .text-page {
    display: flex;
    align-items: center;
    margin: 30px auto 40px;
    padding: 20px 0 0 0;
    height: auto;
    max-width: 700px
}

#last_transactions .container-2 {
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px
}

.last_trans__header {
    padding-right: 20px;
    min-width: 300px
}

.last_trans__list {
    width: 100%
}

#last_transactions.short .text-page {
    flex-direction: column
}

#last_transactions.short .last_trans__header, #last_transactions.short .last_trans__list {
    width: 100%
}

#last_transactions.short .last_trans__header p, #last_transactions.short .last_trans__header .btn-3 {
    display: none
}

#last_transactions.short .last_trans__header h2 {
    text-align: center
}

.last_trans__header .btn-3 {
    margin-top: 2rem;
    min-width: 180px
}

.last_trans__header h2 {
    text-align: left;
    margin-bottom: 2rem
}

.table-lt-body {
    padding-right: 32px;
    margin-right: -40px;
    height: 300px;
    overflow-y: auto
}

.table-lt .tr {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    display: flex;
    justify-content: space-between;
    transition: background 0.5s ease-in-out
}

.table-lt-header .tr {
    box-shadow: none
}

.table-lt .tr.added {
    background: #fff
}

.table-lt .td {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
    padding: 20px 0
}

.table-lt .icon-arrow-2 {
    margin: 0 18px;
    position: relative;
    top: -1px
}

.table-lt .coin {
    height: 20px;
    margin-right: 12px;
    position: relative;
    top: -1px
}

.table-lt .tr:last-child {
    border: none
}

.table-lt .td:first-child {
    width: 150px
}

.table-lt .td:last-child {
    text-align: right;
    white-space: nowrap;
    width: 90px
}

.table-lt .td:nth-child(2) {
    text-align: center
}

.table-lt-header .td {
    border: none;
    color: var(--c1);
    font-weight: 500;
    font-size: 20px;
    padding: 0 0 20px
}

.table-lt-header .tr .td:last-child {
    width: 150px
}

.table-lt .nw {
    white-space: nowrap
}

@media (max-width: 1200px) {
    .table-lt-header .td {
        font-size: 16px
    }

    .table-lt-header .tr .td:last-child {
        width: 120px
    }

    .table-lt .td {
        font-size: 13px
    }

    .last_trans__header h2 {
        font-size: 32px
    }

    .last_trans__header p {
        font-size: 18px;
        line-height: 1.3
    }

    .table-lt .td:first-child {
        width: 130px
    }

    .table-lt .td:last-child {
        width: 80px
    }

    .table-lt .icon-arrow-2 {
        margin: 0 12px
    }

    .table-lt .coin {
        margin-right: 8px
    }
}

@media (max-width: 1000px) {
    .table-lt .td {
        font-size: 12px
    }

    .last_trans__header h2 {
        font-size: 28px
    }

    .last_trans__header p {
        font-size: 16px
    }

    .last_trans__header {
        min-width: 230px
    }
}

@media (max-width: 1000px) and (min-width: 769px) {
    .exch {
        text-align: left;
        width: 100px;
        margin: 0 auto;
        display: flex;
        flex-direction: column
    }

    .table-lt .icon-arrow-2 {
        margin: 10px 0
    }
}

.table-lt .break {
    display: none
}

#last_transactions label {
    display: none
}

@media (max-width: 768px) {
    #last_transactions .text-page {
        flex-direction: column;
        text-align: center
    }

    #last_transactions h2 {
        margin-bottom: 20px;
        text-align: center
    }

    #last_transactions .text-page > div {
        width: 100%
    }

    .last_trans__header {
        margin-bottom: 30px
    }

    .last_trans__header .btn-3 {
        margin-top: 20px
    }

    .last_trans__header p {
        font-size: 15px
    }

    #last_transactions .container-2 {
        padding: 15px
    }

    .table-lt-body {
        padding-right: 12px;
        margin-right: -15px
    }

    .table-lt-header {
        display: none
    }

    .table-lt {
        flex-wrap: wrap
    }

    .table-lt .tr {
        border: 1px solid rgba(1, 186, 255, .37);
        position: relative;
        margin: 0 0 16px;
        padding: 7px 10px 52px;
        box-shadow: none
    }

    .table-lt .tr:last-child {
        border: 1px solid rgba(1, 186, 255, .37)
    }

    .table-lt .td {
        padding: 0
    }

    .table-lt .td:first-child {
        order: 2;
        text-align: right;
        width: 50%
    }

    .table-lt .td:last-child {
        order: 1;
        text-align: left;
        width: 50%
    }

    .table-lt .td:first-child, .table-lt .td:last-child {
        color: var(--c1);
        font-size: 9px
    }

    .table-lt .td:nth-child(2) {
        border-top: 1px solid rgba(1, 186, 255, .37);
        margin: 10px 10px;
        padding-top: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0
    }

    #last_transactions label {
        color: #212121;
        display: block;
        font-size: 12px;
        font-weight: 500;
        margin: 0 0 3px
    }
}
